hcg.gtrgi.branches.tre
hcg.likescores.txt
hcg.parscores.txt
hcg.paup.log
hcg.score.table.txt
hcg.score.table.txt-diff-by-site.pdf
hcg.score.table.txt-diff-histogram-cropped.pdf
hcg.score.table.txt-diff-histogram.pdf
hcg.score.table.txt-scatterplot.pdf
