macaque.hky.branches.tre
macaque.likescores.txt
macaque.parscores.txt
macaque.paup.log
macaque.score.table.txt
macaque.score.table.txt-diff-by-site.pdf
macaque.score.table.txt-diff-histogram-cropped.pdf
macaque.score.table.txt-diff-histogram.pdf
macaque.score.table.txt-scatterplot.pdf
